# --- Core FastAPI Framework ---
fastapi
uvicorn[standard]

# --- Database ---
sqlalchemy
psycopg2-binary

# --- Data Validation & Settings ---
pydantic[email]
pydantic-settings
python-dotenv

# --- Authentication & Security ---
# passlib ka version theek kar diya gaya hai
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-jose[cryptography]

# --- File Uploads & Forms ---
python-multipart

# --- EMAIL FOR PASSWORD RESET ---
fastapi-mail
